{% extends "layout.html" %}

{% block main %}
    <h2> Partidos jugados que vos desafiaste </h2>
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th> Rival </th>
                <th> Ganador</th>
            </tr>
        </thead>
        <tbody>
            {% for l in range(0, length1)%}
                <tr>
                    <td> {{ rival1_name[l]['name']}} </td>
                    <td> {{ winners1[l]['name']}} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2> Partidos jugados que te desafiaron</h2>
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th> Rival </th>
                <th> Ganador</th>
            </tr>
        </thead>
        <tbody>
            {% for l in range(0, length2)%}
                <tr>
                    <td> {{ rival2_name[l]['name']}} </td>
                    <td> {{ winners2[l]['name']}} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{%endblock%}
